{
  "parserOptions": {
    "ecmaVersion": 2021
  },
  "extends": [
    "airbnb-base"
  ],
  "env": {
    "browser": true
  },
  "rules": {
    "max-len": ["error", 100],
    "max-classes-per-file": "off",
    "no-console": ["error", { "allow": ["warn", "error"] }],
    "object-curly-spacing" : ["error", "always"],
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": ["webpack/scripts/**", "webpack/__test__/**", "*.config.js"]
      }
    ],
    "import/no-relative-packages": "off"
  }
}
